@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

* {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #41444B;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: row;

  color: white;
  background-color: #101010;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* from reset */

::-webkit-scrollbar {
  width: 10px;
  height: 11px;
}

::-webkit-scrollbar-track {
  background: 0 0;
}

.list:not(.dark)::-webkit-scrollbar-track {
  background: rgb(55, 56, 62);
}

::-webkit-scrollbar-thumb {
  background: rgb(65, 66, 68);
  border: 1px solid rgb(29, 30, 32);
  border-radius: 8px;
}

.list:not(.dark)::-webkit-scrollbar-thumb {
  border: 5px solid rgb(55, 56, 62);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(155, 156, 157);
}

::-webkit-scrollbar:not(.highlighttable, .highlight table, .gist .highlight) {
  background: rgb(29, 30, 32);
}

/* from post-single */
.post-content .highlighttable td .highlight pre code::-webkit-scrollbar {
  display: none;
}

.post-content :not(table) ::-webkit-scrollbar-thumb {
  border: 2px solid var(--hljs-bg);
  background: rgb(113, 113, 117);
}

.post-content :not(table) ::-webkit-scrollbar-thumb:hover {
  background: rgb(163, 163, 165);
}

.gist table::-webkit-scrollbar-thumb {
  border: 2px solid rgb(255, 255, 255);
  background: rgb(173, 173, 173);
}

.gist table::-webkit-scrollbar-thumb:hover {
  background: rgb(112, 112, 112);
}

.post-content table::-webkit-scrollbar-thumb {
  border-width: 2px;
}
